:root{
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
  --desktop-width: 1440px;

}
*{
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  
}
main{
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding-top: 5em;


}
.balance-container{
  border-radius: 10px;
  width: 90%;
  background-color: var(--soft-red);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cream);
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width:1000px) {
  .balance-container{
    width: 50%;
  }
  
}
.my-balance{
  line-height: 2;
  font-weight: 400;
}
.my-balance>h2{
  font-size: 28px;
  font-weight: 700;
  color: var(--very-pale-orange);
}

.spending-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex: 1; */
  border-radius: 10px;
  background-color: var(--very-pale-orange);
  width: 90%;
  /* padding: 2em; */
}
@media screen and (min-width:1000px) {
  .spending-container{
    width: 50%;
  }
  
}

.spending-container>h2{
  font-size: 24px;
  padding: 2em 2em 0 ;
}

.chart{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-items: flex-end;
  border-bottom:  solid 2px var(--medium-brown);
  color: var(--medium-brown);

}
@media screen and (min-width:1000px) {
  .chart{
    padding: 4em 0 1em;
  }
}

.month-container{
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 1em;
}
.total-container{
  color: var(--medium-brown);
  display: flex;
  flex-direction: column;
  gap: .2em;
}
.total-container>h2{
  font-size: 30px;
  color: var(--dark-brown);
}

.percent-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .2em;
  color: var(--dark-brown);
  font-weight: 700;
}
.percent-container>p{
  color: var(--medium-brown);
}
